name: Manual Deploy (Dev / Prod)

on:
  workflow_dispatch:
    inputs:
      target:
        description: "Куда деплоим?"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Select deploy path
        run: |
          if [ "${{ github.event.inputs.target }}" = "prod" ]; then
            echo "DEPLOY_PATH=${{ secrets.PROD_DEPLOY_PATH }}" >> $GITHUB_ENV
          else
            echo "DEPLOY_PATH=${{ secrets.DEV_DEPLOY_PATH }}" >> $GITHUB_ENV
          fi

      - name: Debug SSH_PORT
        run: |
          if [ -z "${{ secrets.SSH_PORT }}" ]; then
            echo "SSH_PORT is EMPTY"
            exit 1
          else
            echo "SSH_PORT is SET"
          fi

      - name: Test SSH connection
        run: |
          ssh \
            -i ~/.ssh/id_ed25519 \
            -p "${{ secrets.SSH_PORT }}" \
            -o StrictHostKeyChecking=no \
            -o UserKnownHostsFile=/dev/null \
            -o ConnectTimeout=15 \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
            "echo 'SSH OK: $(hostname)'"


      - name: Deploy files
        run: |
           echo "Deploying to: [${{ env.DEPLOY_PATH }}]"
             rsync -avz \
              -e "ssh -i ~/.ssh/id_ed25519 -p '${{ secrets.SSH_PORT }}' -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" \
              --exclude='.git' \
              ./ \
              ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:"${{ env.DEPLOY_PATH }}/"
