name: Manual Deploy (Dev / Prod)

on:
  workflow_dispatch:
    inputs:
      target:
        description: "Куда деплоим?"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

          # фикс нестабильного ssh-keyscan
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts 2>/dev/null || true

      - name: Select deploy path
        run: |
          if [ "${{ github.event.inputs.target }}" = "prod" ]; then
            echo "DEPLOY_PATH=${{ secrets.PROD_DEPLOY_PATH }}" >> $GITHUB_ENV
          else
            echo "DEPLOY_PATH=${{ secrets.DEV_DEPLOY_PATH }}" >> $GITHUB_ENV
          fi

      - name: Test SSH connection
        run: |
          ssh -i ~/.ssh/id_ed25519 \
              -o StrictHostKeyChecking=yes \
              ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
              "echo 'SSH OK: $(hostname)'"

      - name: Deploy files
        run: |
          rsync -avz --delete \
            --exclude='.git' \
            ./ \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:${{ env.DEPLOY_PATH }}
